
# api
api/node_modules
api/src
api/package-lock.json
api/package.json
api/tsconfig.json

# app
app/node_modules
app/src
app/package.json
app/package-lock.json
app/.gitignore
app/index.html
app/README.md
app/tsconfig.json
app/tsconfig.node.json
app/vite.config.ts

# ./
node_modules
ss
.gitignore
.dockerignore
.hintrc
docker-compose.yml
Dockerfile
pnpm-lock.yaml
pnpm-workspace.yaml
README.md
